#game_background {
    background-image: url("produktion/baggrund.svg");
    background-size: cover;
    width: 80vw;
    height: 45vw;
    margin: auto;
    position: relative;
}

#abe {
    background-image: url("produktion/abehoved.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 15vw;
    height: 15vw;
    position: absolute;
    top: 33vw;
    left: 25vw;
    z-index: 3;
}

#hund {
    background-image: url("produktion/hundehoved.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 15vw;
    height: 15vw;
    position: absolute;
    top: 33vw;
    left: 60vw;
    z-index: 3;

}


#pointbar {
    background-image: url("produktion/pointbar.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 30vw;
    height: 40vw;
    position: absolute;
    top: 37vw;
    left: 35vw;
    z-index: 2;

}

#tid {
    background-image: url("produktion/tid.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 15vw;
    height: 40vw;
    position: absolute;
    top: 0vw;
    left: 42vw;
    z-index: 2;
}

#banan {
    background-image: url("produktion/banan.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 10vw;
    height: 10vw;
    position: absolute;
    top: 10vw;
    left: 70vw;

}


#banan1 {
    background-image: url("produktion/banan.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 10vw;
    height: 10vw;
    position: absolute;
    top: 12vw;
    left: 65vw;

}

#banan2 {
    background-image: url("produktion/banan.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 10vw;
    height: 10vw;
    position: absolute;
    top: 10vw;
    left: 20vw;

}


#banan3 {
    background-image: url("produktion/banan.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 10vw;
    height: 10vw;
    position: absolute;
    top: 15vw;
    left: 30vw;

}

#banan4 {
    background-image: url("produktion/banan.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 10vw;
    height: 10vw;
    position: absolute;
    top: 12vw;
    left: 75vw;

}

#banan5 {
    background-image: url("produktion/banan.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 10vw;
    height: 10vw;
    position: absolute;
    top: 12vw;
    left: 15vw;

}


#lort1 {
    background-image: url("produktion/lort.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 10vw;
    height: 10vw;
    position: absolute;
    top: 15vw;
    left: 70vw;

}

#lort2 {
    background-image: url("produktion/lort.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 10vw;
    height: 10vw;
    position: absolute;
    top: 9vw;
    left: 25vw;

}

#lort3 {
    background-image: url("produktion/lort.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 10vw;
    height: 10vw;
    position: absolute;
    top: 18vw;
    left: 15vw;

}

#lort4 {
    background-image: url("produktion/lort.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 10vw;
    height: 10vw;
    position: absolute;
    top: 20vw;
    left: 77vw;

}

#lort5 {
    background-image: url("produktion/lort.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 10vw;
    height: 10vw;
    position: absolute;
    top: 10vw;
    left: 57vw;

}


#point {
    background-image: url("produktion/Point.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 10vw;
    height: 10vw;
    position: absolute;
    top: 39vw;
    left: 78vw;

}

#liv {
    background-image: url("produktion/Liv%20.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 15vw;
    height: 15vw;
    position: absolute;
    top: 37vw;
    left: 10vw;

}
